@using System.Globalization
@using cnfPrySCGCS.Models
@model cnfPrySCGCS.Models.cnfSOLpSolicitud
@{
    ViewBag.Title = "Solicitud";
    ViewBag.subTitle = "Registrar Solicitud";

    List<SelectListItem> proyectosSelectList = new List<SelectListItem>();
    List<SelectListItem> ecsSelectList = new List<SelectListItem>();
    List<SelectListItem> entregablesSelectList = new List<SelectListItem>();
    foreach (var proyecto in ViewBag.Proyectos)
    {
        proyectosSelectList.Add(new SelectListItem() { Text = proyecto.PRYnombre, Value = Convert.ToString(proyecto.PRYcodigo) });
    }
    foreach (var ec in ViewBag.ECS)
    {
        ecsSelectList.Add(new SelectListItem() { Text = ec.cnfPRYpProyecto.PRYnombre + " - " + ec.PECnombre, Value = Convert.ToString(ec.PECcodigo) });
    }
    foreach (var entregable in ViewBag.Entregables)
    {
        entregablesSelectList.Add(new SelectListItem() { Text = entregable.MNTnombre, Value = Convert.ToString(entregable.MNTcodigo) });
    }
    List<cnfPrySCGCS.Models.cnfMTDpMetodologia> GobjListarMetodologia = ViewBag.GobjListarMetodologia;
    bool LblnMensaje = false;
    try
    {
        LblnMensaje = ViewBag.GblnMensaje;
    }
    catch
    {

    }

    //Drei
    var usuarioNombre = (string)ViewBag.UsuarioNombre;
    var solicitudes = (List<cnfSOLpSolicitud>)ViewBag.Solicitudes;
    //var nivelList = new SelectList(
    //    new List<object>
    //    {
    //new {value = "1", text = "Activo"},
    //new {value = "2", text = "Inactivo"}
    //    },
    //    "value",
    //    "text"
    //    );
    List<SelectListItem> listEstados = new List<SelectListItem>();

    listEstados.Add(new SelectListItem() { Text = "Activo", Value = "1" });
    listEstados.Add(new SelectListItem() { Text = "Inactivo", Value = "2" });
}
@try
{
    if (LblnMensaje)
    {
        string LstrMensaje = ViewBag.GstrMensajeRespuesta;

        if (LstrMensaje.Equals("La Operación se Realizó Correctamente"))
        {
            <script>alert('La Operación se Realizó Correctamente');</script>
        }
        else
        {
            <script>alert('Ocurrió un Fallo en la Operación');</script>
        }
    }
}
catch
{

}
<script type="text/javascript">
    function ValidarFormulario() {
        if (!document.getElementById("").value.includes(document.getElementById("").value)) {
            return false;
        }
        document.getElementById("FrmSolicitud").submit();
    };
</script>
<script type="text/javascript">(function(document) {
        'use strict';

        var LightTableFilter = (function(Arr) {

            var _input;

            function _onInputEvent(e) {
                _input = e.target;
                var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                Arr.forEach.call(tables, function(table) {
                    Arr.forEach.call(table.tBodies, function(tbody) {
                        Arr.forEach.call(tbody.rows, _filter);
                    });
                });
            }

            function _filter(row) {
                var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
            }

            return {
                init: function() {
                    var inputs = document.getElementsByClassName('txtBuscar');
                    Arr.forEach.call(inputs, function(input) {
                        input.oninput = _onInputEvent;
                    });
                }
            };
        })(Array.prototype);

        document.addEventListener('readystatechange', function() {
            if (document.readyState === 'complete') {
                LightTableFilter.init();
            }
        });

    })(document);</script>
<div class="row">
    <div class="col-md-12">
        <div class="block-web">
            <div class="header">
                <div class="actions"> <a class="minimize" href="~/Content/ultimo_admin/admin/#"><i class="fa fa-chevron-down"></i></a></div>
                @*<a href="~/cnfClsMetodologia/cnfFrmMetodologiaVista"><h3 class="content-header">Solicitud</h3></a>*@
            </div>
            <div class="porlets-content">
                @using (Html.BeginForm("Guardar", "cnfClsSolicitud", FormMethod.Post, new { id = "FrmSolicitud", @name = "FrmSolicitud", @class = "form-horizontal row-border" }))
                {
                    @Html.HiddenFor(x => x.SOLcodigo)
                    <input type="hidden" name="USUcodigo" id="USUcodigo" value="@SessionHelper.GetUser()" />

                    <div class="form-group">
                        <label name="lblCodigo" class="col-sm-3 control-label">Codigo</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.SOLcodigo, new { @class = "form-control", @disabled = true })
                        </div>
                    </div>

                    <div class="form-group">
                        <label name="lblCodigo" class="col-sm-3 control-label">Solicitante</label>
                        <div class="col-sm-9">
                            @Html.TextBox(usuarioNombre, usuarioNombre, new { @class = "form-control", @disabled = true })
                        </div>
                    </div>

                    <div class="form-group">
                        <label name="lblNombreMetodologia" class="col-sm-3 control-label">Proyecto</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(x => x.PRYcodigo, proyectosSelectList, " Seleccione ", new { @class = "form-control", @required = "true" })
                        </div>
                    </div>

                    @*<div class="form-group">
                        <label name="lblNombreMetodologia" class="col-sm-3 control-label">Fase</label>
                        <div class="col-sm-9">
                            @Html.Hidden("MEFcodigo")
                            @Html.TextBox("MEF", "", new { @class = "form-control" })
                        </div>
                    </div>*@

                    @*<div class="form-group">
                            <label name="lblNombreMetodologia" class="col-sm-3 control-label">Línea Base</label>
                            <div class="col-sm-9">
                                @Html.Hidden("PLBcodigo")
                                @Html.TextBox("PLB", "", new { @class = "form-control" })
                            </div>
                        </div>*@

                    @*<div class="form-group">
                        <label name="lblNombreMetodologia" class="col-sm-3 control-label">Entregable</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(x => x.MNTcodigo, entregablesSelectList, " Seleccione ", new { @class = "form-control", @required = "true" })
                            @Html.HiddenFor(x => x.MNTcodigo)
                            @Html.TextBox("MNT", "", new { @class = "form-control" })
                        </div>
                    </div>*@

                    <div class="form-group">
                        <label name="lblNombreMetodologia" class="col-sm-3 control-label">Elemento de Configuración</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(x => x.PECcodigo, ecsSelectList, " Seleccione ", new { @class = "form-control", @required = "true" })
                            @*@Html.HiddenFor(x => x.PECcodigo)*@
                            @*@Html.TextBox("PEC", "", new { @class = "form-control" })*@
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Solicitud</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(x => x.SOLsolicitud, new { @class = "form-control", rows = 10 })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Estado</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(x => x.SOLestado, listEstados, " Seleccione ", new { @class = "form-control", @required = "true" })
                            @*@Html.TextBoxFor(x => x.SOLestado, new {@class = "form-control"})*@
                        </div>
                    </div>

                    <div class="form-group">
                        <label name="lblFechaRegistro" class="col-sm-3 control-label">Fecha Registro</label>
                        <div class="col-sm-9">
                            @*@Html.TextBoxFor(m => m.SOLfecha_Registro, new { @class = "form-control", value = "asdsad", @disabled=""})*@
                            <input type="text" name="SOLfecha_Registro" id="SOLfecha_Registro" class="form-control" value="@DateTime.Now.ToShortDateString()" readonly required />
                            @*@Html.TextBox("date", DateTime.Now.ToShortDateString(), new { @class = "form-control", @disabled = "" })*@
                        </div>
                    </div>

                    <div class="text-right">
                        @*<input type="button" class="btn btn-success" value="Guardar" onclick="ValidarFormuario();" />*@
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>

                }
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-web">
                            <div class="header">
                                <div class="actions">
                                    <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a>
                                </div>
                            </div>
                            <div class="porlets-content">
                                <div class="adv-table editable-table ">
                                    <div class="margin-top-10"></div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="dataTables_length" id="editable-sample_length">
                                            </div>
                                        </div><div class="col-lg-12"><label>Buscar: <input class="txtBuscar form-control" aria-controls="editable-sample" data-table="order-table" type="search" placeholder="Buscar por Nombre..." /></label></div>
                                    </div>
                                    <table class="table table-striped table-hover table-bordered order-table" id="editable-sample">
                                        <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Proyecto</th>
                                                <th>Elemento de Configuración</th>
                                                <th>Solicitud</th>
                                                <th>Fecha</th>
                                                <th>Estado</th>
                                                <th>Accion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (var i = 0; i < solicitudes.Count; i++)
                                            {
                                                var solicitud = solicitudes[i];
                                                if (solicitud != null)
                                                {
                                                    <tr class="">
                                                        <td>@solicitud.SOLcodigo</td>
                                                        <td>@solicitud.cnfPRYpProyecto.PRYnombre</td>
                                                        <td>@solicitud.cnfPECpProyectoElementoConfiguracion.PECnombre </td>
                                                        <td>@solicitud.SOLsolicitud </td>
                                                        <td>@Convert.ToDateTime(solicitud.SOLfecha_Registro).ToShortDateString()</td>
                                                        <td>Activo</td>
                                                        @*@if (solicitud.SOLestado == 1)
                                                            {
                                                                <td>Activo</td>
                                                            }
                                                            else
                                                            {
                                                                if (solicitud.SOLestado == 2)
                                                                {
                                                                    <td>Inactivo</td>
                                                                }
                                                            }*@
                                                        <td>
                                                            <a class="btn btn-warning" href="~/cnfCambios/cnfClsSolicitud/cnfFrmSolicitudVista/@solicitud.SOLcodigo">Modificar</a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div><!--/porlets-content-->
                        </div><!--/block-web-->
                    </div><!--/col-md-12-->
                </div><!--/row-->
            </div>
        </div>
    </div>
</div>
