@model cnfPrySCGCS.Models.cnfEREpEntregableRelacion
@{
    ViewBag.Title = "Establecer Relacion";
    ViewBag.subTitle = "Establecer Relacion";

    List<cnfPrySCGCS.Models.cnfMNTpMetodologiaEntregable.cnfMNTpMetodologiaEntregables> GobjListarEntregable = ViewBag.GobjListarEntregable;
    List<cnfPrySCGCS.Models.cnfEREpEntregableRelacion> GobjListarEntregableRelacion = ViewBag.GobjListarEntregableRelacion;
    int GintCodigoEntregable = ViewBag.GintCodigoEntregable;
    int LintMetodologiaSeleccionada = -1;
    try
    {
        LintMetodologiaSeleccionada = ViewBag.GintMetodologiaSeleccionada;
    }
    catch
    {

    }
    bool LblnMensaje = false;
    try
    {
        LblnMensaje = ViewBag.GblnMensaje;
    }
    catch
    {

    }
}
@try
{
    if (LblnMensaje)
    {
        string LstrMensaje = ViewBag.GstrMensajeRespuesta;

        if (LstrMensaje.Equals("La Operación se Realizó Correctamente"))
        {
            <script>alert('La Operación se Realizó Correctamente');</script>
        }
        else
        {
            <script>alert('Ocurrió un Fallo en la Operación');</script>
        }
    }
}
catch
{

}

@using (Html.BeginForm("mtdGuardarSecundario", "cnfClsEntregable", FormMethod.Post))
{
    <input type="hidden" name="MNTcodigo" value="@GintCodigoEntregable"/>
    @*@Html.HiddenFor(x => x.MNTcodigo)*@

    <table id="" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Entregable</th>
                <th>Nomenclatura</th>
                <th>Fase</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @try
            {
                var LobjRelacionLista = new List<cnfPrySCGCS.Models.cnfEREpEntregableRelacion>();
                var LblnRelacion = false;
                foreach (var LobjLista in GobjListarEntregableRelacion)
                {
                    if (LobjLista.MNTcodigo_Origen == GintCodigoEntregable)
                    {
                        LobjRelacionLista.Add(LobjLista);
                    }
                }

                foreach (var LobjRegistro in GobjListarEntregable)
                {
                    foreach (var LobjRegistroRelacion in LobjRelacionLista)
                    {
                        if (LobjRegistroRelacion.MNTcodigo_Relacion == LobjRegistro.MNTcodigo)
                        {
                            LblnRelacion = true;
                            break;
                        }
                        else
                        {
                            LblnRelacion = false;
                        }
                    }
                    if (LobjRegistro.MTDnombre.Equals(ViewBag.MTDnombre))
                    {
                        if (LblnRelacion)
                        {
                            <tr class="">
                                <td>@LobjRegistro.MNTcodigo</td>
                                <td>@LobjRegistro.MNTnombre</td>
                                <td>@LobjRegistro.MNTnomenclatura</td>
                                <td>@LobjRegistro.MEFnombre</td>
                                <td>
                                    <input type="checkbox" class="form-control" checked name="MNTcodigo_Relacion" value="@LobjRegistro.MNTcodigo" />
                                </td>
                            </tr>
                        }
                        else
                        {
                            if (GintCodigoEntregable == LobjRegistro.MNTcodigo)
                            {
                                <tr class="">
                                    <td>@LobjRegistro.MNTcodigo</td>
                                    <td>@LobjRegistro.MNTnombre</td>
                                    <td>@LobjRegistro.MNTnomenclatura</td>
                                    <td>@LobjRegistro.MEFnombre</td>
                                    <td>
                                        <input type="checkbox" class="form-control" name="MNTcodigo_Relacion" disabled value="@LobjRegistro.MNTcodigo" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr class="">
                                    <td>@LobjRegistro.MNTcodigo</td>
                                    <td>@LobjRegistro.MNTnombre</td>
                                    <td>@LobjRegistro.MNTnomenclatura</td>
                                    <td>@LobjRegistro.MEFnombre</td>
                                    <td>
                                        <input type="checkbox" class="form-control" name="MNTcodigo_Relacion" value="@LobjRegistro.MNTcodigo" />
                                    </td>
                                </tr>
                            }
                        }
                    }

                }
            }
            catch
            {

            }
        </tbody>

    </table>
    <div class="text-right">
        <button type="submit" class="btn btn-success" name="btnGuardar">Guardar</button>
    </div>


}
<br>

@*<table id="datatable" class="display" style="width:100%">*@



