@model cnfPrySCGCS.Models.cnfPECpProyectoElementoConfiguracion.cnfPECpProyectoElementoConfiguracions
@{
    ViewBag.Title = "Elemento de Configuración";
    ViewBag.subTitle = "Registrar Elemento de Configuración";

    List<SelectListItem> listEstados = new List<SelectListItem>();

    listEstados.Add(new SelectListItem() { Text = "Activo", Value = "Activo" });
    listEstados.Add(new SelectListItem() { Text = "Inactivo", Value = "Inactivo" });

    List<SelectListItem> listTipos = new List<SelectListItem>();

    listTipos.Add(new SelectListItem() { Text = "Documento", Value = "Documento" });
    listTipos.Add(new SelectListItem() { Text = "Codigo Fuente", Value = "Codigo Fuente" });

    List<SelectListItem> listCheck = new List<SelectListItem>();

    listCheck.Add(new SelectListItem() { Text = "In", Value = "In" });
    listCheck.Add(new SelectListItem() { Text = "Out", Value = "Out" });

    List<cnfPrySCGCS.Models.cnfPECpProyectoElementoConfiguracion.cnfPECpProyectoElementoConfiguracions> GobjListarElementoConfiguracion = ViewBag.GobjListarElementoConfiguracion;
    List<cnfPrySCGCS.Models.cnfPRYpProyecto> GobjListarProyecto = ViewBag.GobjListarProyecto;
    List<cnfPrySCGCS.Models.cnfMEFpMetodologiaFase> GobjListarFase = ViewBag.GobjListarFase;
    List<cnfPrySCGCS.Models.cnfPLBpProyectoLineaBase> GobjListarLineaBase = ViewBag.GobjListarLineaBase;
    List<cnfPrySCGCS.Models.cnfMNTpMetodologiaEntregable> GobjListarEntregable = ViewBag.GobjListarEntregable;

    int LintProyectoSeleccionado = -1;
    int LintFaseSeleccionada = -1;
    try
    {
        LintProyectoSeleccionado = ViewBag.GintProyectoSeleccionado;
        LintFaseSeleccionada = ViewBag.GintFaseSeleccionada;
    }
    catch
    {

    }
    bool LblnMensaje = false;
    try
    {
        LblnMensaje = ViewBag.GblnMensaje;
    }
    catch
    {

    }
}
@try
{
    if (LblnMensaje)
    {
        string LstrMensaje = ViewBag.GstrMensajeRespuesta;

        if (LstrMensaje.Equals("La Operación se Realizó Correctamente"))
        {
            <script>alert('La Operación se Realizó Correctamente');</script>
        }
        else
        {
            <script>alert('Ocurrió un Fallo en la Operación');</script>
        }
    }
}
catch
{

}
<script type="text/javascript">(function(document) {
  'use strict';

  var LightTableFilter = (function(Arr) {

    var _input;

    function _onInputEvent(e) {
      _input = e.target;
      var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
      Arr.forEach.call(tables, function(table) {
        Arr.forEach.call(table.tBodies, function(tbody) {
          Arr.forEach.call(tbody.rows, _filter);
        });
      });
    }

    function _filter(row) {
      var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
      row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
    }

    return {
      init: function() {
        var inputs = document.getElementsByClassName('txtBuscar');
        Arr.forEach.call(inputs, function(input) {
          input.oninput = _onInputEvent;
        });
      }
    };
  })(Array.prototype);

  document.addEventListener('readystatechange', function() {
    if (document.readyState === 'complete') {
      LightTableFilter.init();
    }
  });

})(document);</script>
<script type="text/javascript">function mtdSeleccion(LobjObjeto) {
        if ($(LobjObjeto).attr("name") == "PRYcodigo")
        {
            document.getElementById("frmCargarComboFase").submit();
        }
        if ($(LobjObjeto).attr("name") == "btnGuardar") {

            document.getElementById("frmElementoConfiguracion").submit();
        }
        if ($(LobjObjeto).attr("name") == "MEFcodigo") {

            document.getElementById("frmCargarComboLineabaseEntregable").submit();
        }
    }</script>
<div class="row">
    <div class="col-md-12">
        <div class="block-web">
            <div class="header">
                <div class="actions"> <a class="minimize" href="~/Content/ultimo_admin/admin/#"><i class="fa fa-chevron-down"></i></a></div>
                @*<a href="~/cnfProyecto/cnfClsProyectoElementoConfiguracion/cnfFrmProyectoElementoConfiguracionVista"><h3 class="content-header">Elemento de Configuración</h3></a>*@
            </div>
            <div class="porlets-content">
                @using (Html.BeginForm("mtdGuardarPrincipal", "cnfClsProyectoElementoConfiguracion", FormMethod.Post, new { id = "frmElementoConfiguracion", @name = "frmElementoConfiguracion", @class = "form-horizontal row-border", @enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(x => x.PECcodigo)

                    <div class="form-group row">
                        <label name="lblCodigo" class="col-sm-2 control-label">Codigo</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.PECcodigo, new { @class = "form-control", @disabled = true })
                        </div>
                    </div><!--/form-group-->
                }
                @*<input type="hidden" id="PRYcodigoFAKE" name="PRYcodigoFAKE" form="frmElementoConfiguracion" value="@Model.PRYcodigo" />*@
                @Html.HiddenFor(x => x.PRYcodigo, new { @form = "frmElementoConfiguracion" })
                @if(Model.PECcodigo > 0)
                {
                    cnfPrySCGCS.Models.cnfPECpProyectoElementoConfiguracion objPEC = new cnfPrySCGCS.Models.cnfPECpProyectoElementoConfiguracion();
                    var temp = objPEC.mtdBuscarEC(Model.PECcodigo);
                    <input type="hidden" id="PECarchivo" name="PECarchivo" form="frmElementoConfiguracion" value="@temp.PECarchivo" />
                }
                @*@Html.HiddenFor(x => x.PECextension, new { @form = "frmElementoConfiguracion" })*@
                @using (Html.BeginForm("mtdCargarComboFase", "cnfClsProyectoElementoConfiguracion", FormMethod.Post, new { @id = "frmCargarComboFase", @class = "form-horizontal row-border" }))
                {
                    <div class="form-group row">
                        <label name="lblProyecto" class="col-sm-2 control-label">Proyecto</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="PRYcodigo" name="PRYcodigo" onchange="mtdSeleccion(this);">
                                <option>Seleccione</option>
                                @try
                                {
                                    foreach (var LobjRegistro in GobjListarProyecto)
                                    {
                                        if (Model.PRYcodigo == LobjRegistro.PRYcodigo)
                                        {
                                            if (LintProyectoSeleccionado == LobjRegistro.PRYcodigo)
                                            {
                                                <option value="@LobjRegistro.PRYcodigo" selected>@LobjRegistro.PRYnombre</option>
                                            }
                                            else
                                            {
                                                <option value="@LobjRegistro.PRYcodigo" selected>@LobjRegistro.PRYnombre</option>
                                            }
                                        }
                                        else
                                        {
                                            if (LintProyectoSeleccionado == LobjRegistro.PRYcodigo)
                                            {
                                                <option value="@LobjRegistro.PRYcodigo" selected>@LobjRegistro.PRYnombre</option>
                                            }
                                            else
                                            {
                                                <option value="@LobjRegistro.PRYcodigo">@LobjRegistro.PRYnombre</option>
                                            }
                                        }
                                    }
                                }
                                catch
                                {
                                    foreach (var LobjRegistro in GobjListarProyecto)
                                    {
                                        if (LintProyectoSeleccionado == LobjRegistro.PRYcodigo)
                                        {
                                            <option value="@LobjRegistro.PRYcodigo" selected>@LobjRegistro.PRYnombre</option>
                                        }
                                        else
                                        {
                                            <option value="@LobjRegistro.PRYcodigo">@LobjRegistro.PRYnombre</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div><!--/form-group-->
                }
                @*<input type="hidden" id="MEFcodigoFAKE" name="MEFcodigoFAKE" form="frmElementoConfiguracion" value="@Model.MEFcodigo" />*@
                @Html.HiddenFor(x => x.MEFcodigo, new { @form = "frmElementoConfiguracion" })
                @using (Html.BeginForm("mtdCargarComboLineaBaseEntregable", "cnfClsProyectoElementoConfiguracion", FormMethod.Post, new { @id = "frmCargarComboLineabaseEntregable", @class = "form-horizontal row-border" }))
                {
                    <div class="form-group row">
                        <label name="lblFase" class="col-sm-2 control-label">Fase</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="MEFcodigo" name="MEFcodigo" onchange="mtdSeleccion(this);">
                                <option>Seleccione</option>
                                @try
                                {
                                    if (GobjListarFase != null)
                                    {
                                        foreach (var LobjRegistro in GobjListarFase)
                                        {
                                            if (Model.MEFcodigo == LobjRegistro.MEFcodigo)
                                            {
                                                if (LintFaseSeleccionada == LobjRegistro.MEFcodigo)
                                                {
                                                    <option value="@LobjRegistro.MEFcodigo" selected>@LobjRegistro.MEFnombre</option>
                                                }
                                                else
                                                {
                                                    <option value="@LobjRegistro.MEFcodigo" selected>@LobjRegistro.MEFnombre</option>
                                                }
                                            }
                                            else
                                            {
                                                if (LintFaseSeleccionada == LobjRegistro.MEFcodigo)
                                                {
                                                    <option value="@LobjRegistro.MEFcodigo" selected>@LobjRegistro.MEFnombre</option>
                                                }
                                                else
                                                {
                                                    <option value="@LobjRegistro.MEFcodigo">@LobjRegistro.MEFnombre</option>
                                                }
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <option value="@Model.MEFcodigo" selected>@Model.MEFnombre</option>
                                    }
                                }
                                catch
                                {
                                    if (GobjListarFase != null)
                                    {
                                        foreach (var LobjRegistro in GobjListarFase)
                                        {
                                            if (LintFaseSeleccionada == LobjRegistro.MEFcodigo)
                                            {
                                                <option value="@LobjRegistro.MEFcodigo" selected>@LobjRegistro.MEFnombre</option>
                                            }
                                            else
                                            {
                                                <option value="@LobjRegistro.MEFcodigo">@LobjRegistro.MEFnombre</option>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <option value="@Model.MEFcodigo" selected>@Model.MEFnombre</option>
                                    }
                                }
                            </select>
                        </div>
                    </div><!--/form-group-->
                }
                <div class="form-horizontal row-border">
                    <div class="form-group row">
                        <label name="lblLineaBase" class="col-sm-2 control-label">Linea Base</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="PLBcodigo" name="PLBcodigo" form="frmElementoConfiguracion">
                                <option>Seleccione</option>
                                @try
                                {
                                    if (GobjListarLineaBase != null)
                                    {
                                        foreach (var LobjRegistro in GobjListarLineaBase)
                                        {
                                            if (GobjListarLineaBase.Count != 0)
                                            {
                                                if (Model.PLBcodigo == LobjRegistro.PLBcodigo)
                                                {
                                                    string LstrFecha = Convert.ToDateTime(LobjRegistro.PLBfecha_LineaBase).ToString("dd/MM/yyyy");
                                                    <option value="@LobjRegistro.PLBcodigo" selected>@LstrFecha</option>
                                                }
                                                else
                                                {
                                                    string LstrFecha = Convert.ToDateTime(LobjRegistro.PLBfecha_LineaBase).ToString("dd/MM/yyyy");
                                                    <option value="@LobjRegistro.PLBcodigo">@LstrFecha</option>
                                                }
                                            }
                                        }
                                    }
                                    else
                                    {
                                        string LstrFecha = Convert.ToDateTime(Model.PLBfecha_LineaBase).ToString("dd/MM/yyyy");
                                        <option value="@Model.PLBcodigo" selected>@LstrFecha</option>
                                    }
                                }
                                catch
                                {

                                }
                            </select>
                        </div>
                    </div><!--/form-group-->
                    <div class="form-horizontal row-border">
                        <div class="form-group row">
                            <label name="lblEntregable" class="col-sm-2 control-label">Entregable</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="MNTcodigo" name="MNTcodigo" form="frmElementoConfiguracion">
                                    @try
                                    {
                                        if (GobjListarEntregable != null)
                                        {
                                            foreach (var LobjRegistro in GobjListarEntregable)
                                            {
                                                if (GobjListarEntregable.Count != 0)
                                                {
                                                    if (Model.MNTcodigo == LobjRegistro.MNTcodigo)
                                                    {
                                                        <option value="@LobjRegistro.MNTcodigo" selected>@LobjRegistro.MNTnombre</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@LobjRegistro.MNTcodigo">@LobjRegistro.MNTnombre</option>
                                                    }
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <option value="@Model.MNTcodigo" selected>@Model.MNTnombre</option>
                                        }
                                    }
                                    catch
                                    {

                                    }
                                </select>
                            </div>
                        </div><!--/form-group-->
                        <div class="form-group row">
                            <label name="lblNombre" class="col-sm-2 control-label">Elemento de Configuración</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.PECnombre, new { @class = "form-control", @required = "true", @pattern = "[A-Za-z ]+", @form = "frmElementoConfiguracion" })
                            </div>
                        </div><!--/form-group-->
                        <div class="form-group row">
                            <label name="lblDescripcionFase" class="col-sm-2 control-label">Descripción</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(x => x.PECdescripcion, new { @class = "form-control", @required = "true", @pattern = "[A-Za-z ]+", @form = "frmElementoConfiguracion" })
                            </div>
                        </div><!--/form-group-->
                        @try
                        {
                            var LstrNombreFase = "";
                            var LstrNombreProyecto = "";

                            if (Model.PEClocalizacion != null)
                            {
                                <div class="form-group row">
                                    <label name="lblLocalizacion" class="col-sm-2 control-label">Localización</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(x => x.PEClocalizacion, new { @class = "form-control", @required = "true", @disabled = "true", @pattern = "[A-Za-z ]+", @form = "frmElementoConfiguracion" })
                                        <input type="hidden" name="PEClocalizacion" value="@Model.PEClocalizacion" form="frmElementoConfiguracion" />
                                    </div>
                                </div><!--/form-group-->
                            }
                            else
                            {
                                if (GobjListarFase != null)
                                {
                                    foreach (var LobjRegistro in GobjListarFase)
                                    {
                                        if (LobjRegistro.MEFcodigo == LintFaseSeleccionada)
                                        {
                                            LstrNombreFase = LobjRegistro.MEFnombre;
                                            break;
                                        }
                                    }
                                }

                                if (GobjListarProyecto != null)
                                {
                                    foreach (var LobjRegistro in GobjListarProyecto)
                                    {
                                        if (LobjRegistro.PRYcodigo == LintProyectoSeleccionado)
                                        {
                                            LstrNombreProyecto = LobjRegistro.PRYnombre;
                                            break;
                                        }
                                    }
                                }

                                if (LstrNombreFase != "" && LstrNombreFase != "")
                                {
                                    <div class="form-group row">
                                        <label name="lblLocalizacion" class="col-sm-2 control-label">Localización</label>
                                        <div class="col-sm-10">
                                            <input type="text" disabled class="form-control" required pattern="[A-Za-z ]+" name="PEClocalizacion" form="frmElementoConfiguracion" value="@LstrNombreProyecto/@LstrNombreFase" />
                                            <input type="hidden" value="@LstrNombreProyecto/@LstrNombreFase" name="PEClocalizacion" form="frmElementoConfiguracion" />
                                        </div>
                                    </div><!--/form-group-->
                                }
                                else
                                {
                                    <div class="form-group row">
                                        <label name="lblLocalizacion" class="col-sm-2 control-label">Localización</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.PEClocalizacion, new { @class = "form-control", @required = "true", @pattern = "[A-Za-z ]+", @form = "frmElementoConfiguracion" })
                                        </div>
                                    </div><!--/form-group-->
                                }
                            }
                        }
                        catch (Exception e)
                        {
                            <div class="form-group row">
                                <label name="lblLocalizacion" class="col-sm-2 control-label">Localización</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.PEClocalizacion, new { @class = "form-control", @required = "true", @pattern = "[A-Za-z ]+", @form = "frmElementoConfiguracion" })
                                </div>
                            </div><!--/form-group-->
                        }
                        <input type="hidden" name="PEClocalizacion" value="@Model.PEClocalizacion" />
                        <div class="form-group row">
                            <label name="lblTipo" class="col-sm-2 control-label">Tipo</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.PECtipo, listTipos, " Seleccione ", new { @form = "frmElementoConfiguracion", @class = "form-control", @required = true })
                                @*<select class="form-control" id="source" name="PECtipo" form="frmElementoConfiguracion">
                            @try
                            {
                                if (Model.PECtipo.Equals(""))
                                {
                                    <optgroup label="Tipo">
                                        <option value="Documento">Documento</option>
                                        <option value="Codigo Fuente">Codigo Fuente</option>
                                    </optgroup>
                                }
                                else if (Model.PECtipo.Equals("Documento"))
                                {
                                    <optgroup label="Tipo">
                                        <option value="Documento" selected>Documento</option>
                                        <option value="Codigo Fuente">Codigo Fuente</option>
                                    </optgroup>
                                }
                                else if (Model.PECtipo.Equals("Codigo Fuente"))
                                {
                                    <optgroup label="Tipo">
                                        <option value="Documento">Documento</option>
                                        <option value="Codigo Fuente" selected>Codigo Fuente</option>
                                    </optgroup>
                                }
                            }
                            catch
                            {
                                <optgroup label="Tipo">
                                    <option value="Documento">Documento</option>
                                    <option value="Codigo Fuente">Codigo Fuente</option>
                                </optgroup>
                            }
                        </select>*@
                            </div><!--/col-sm-9-->
                        </div><!--/form-group-->
                        <div class="form-group row">
                            <label name="lblEstado" class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.PECestado, listEstados, " Seleccione ", new { @form = "frmElementoConfiguracion", @class = "form-control", @required = true })
                                @*<select class="form-control" id="source" name="PECestado" form="frmElementoConfiguracion">
                            @try
                            {
                                if (Model.PECestado.Equals(""))
                                {
                                    <optgroup label="Estado">
                                        <option value="Activo">Activo</option>
                                        <option value="Inactivo">Inactivo</option>
                                    </optgroup>
                                }
                                else if (Model.PECestado.Equals("Activo"))
                                {
                                    <optgroup label="Estado">
                                        <option value="Activo" selected>Activo</option>
                                        <option value="Inactivo">Inactivo</option>
                                    </optgroup>
                                }
                                else if (Model.PECestado.Equals("Inactivo"))
                                {
                                    <optgroup label="Estado">
                                        <option value="Activo">Activo</option>
                                        <option value="Inactivo" selected>Inactivo</option>
                                    </optgroup>
                                }
                            }
                            catch
                            {
                                <optgroup label="Estado">
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                </optgroup>
                            }
                        </select>*@
                            </div><!--/col-sm-9-->
                        </div><!--/form-group-->
                        <div class="form-group row">
                            <label name="lblCheck" class="col-sm-2 control-label">Check In-Out</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.PECestado_InOut, listCheck, " Seleccione ", new { @form = "frmElementoConfiguracion", @class = "form-control", @required = true })
                                @*<select class="form-control" id="source" name="PECestado_InOut" form="frmElementoConfiguracion">
                            @try
                            {
                                if (Model.PECestado_InOut.Equals(""))
                                {
                                    <optgroup label="Estado">
                                        <option value="In">Check In</option>
                                        <option value="Out" selected>Check Out</option>
                                    </optgroup>
                                }
                                else if (Model.PECestado.Equals("In"))
                                {
                                    <optgroup label="Estado">
                                        <option value="In" selected>Check In</option>
                                        <option value="Out">Check Out</option>
                                    </optgroup>
                                }
                                else
                                {
                                    <optgroup label="Estado">
                                        <option value="In">Check In</option>
                                        <option value="Out" selected>Check Out</option>
                                    </optgroup>
                                }
                            }
                            catch
                            {
                                <optgroup label="Estado">
                                    <option value="In">Check In</option>
                                    <option value="Out" selected>Check Out</option>
                                </optgroup>
                            }
                        </select>*@
                            </div><!--/col-sm-9-->
                        </div><!--/form-group-->
                        <div class="form-group row">
                            <label name="lblFechaRegistro" class="col-sm-2 control-label">Subir Archivo</label>
                            <div class="col-sm-10">
                                <input type="file" name="file" value="" form="frmElementoConfiguracion" />
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success" name="btnGuardar" onclick="mtdSeleccion(this);">Guardar</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block-web">
                                <div class="header">
                                    <div class="actions">
                                        <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>
                                <div class="porlets-content">
                                    <div class="adv-table editable-table ">
                                        <div class="margin-top-10"></div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="dataTables_length" id="editable-sample_length">
                                                </div>
                                            </div><div class="col-lg-12"><label>Buscar: <input class="txtBuscar form-control" aria-controls="editable-sample" data-table="order-table" type="search" placeholder="Buscar por Nombre..." /></label></div>
                                        </div>
                                        <table class="table table-striped table-hover table-bordered order-table" id="editable-sample">
                                            <thead>
                                                <tr>
                                                    <th>Codigo</th>
                                                    <th>Proyecto</th>
                                                    <th>Fase</th>
                                                    <th>Elemento de Configuración</th>
                                                    <th>Estado</th>
                                                    <th>In-Out</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @try
                                                {
                                                    foreach (var LobjRegistro in GobjListarElementoConfiguracion)
                                                    {
                                                        <tr class="">
                                                            <td>@LobjRegistro.PECcodigo</td>
                                                            <td>@LobjRegistro.PRYnombre</td>
                                                            <td>@LobjRegistro.MEFnombre</td>
                                                            <td>@LobjRegistro.PECnombre</td>
                                                            <td>@LobjRegistro.PECestado</td>
                                                            <td>@LobjRegistro.PECestado_InOut</td>
                                                            <td>
                                                                <a class="btn btn-warning" href="~/cnfProyecto/cnfClsProyectoElementoConfiguracion/cnfFrmProyectoElementoConfiguracionVista/@LobjRegistro.PECcodigo">Modificar</a>
                                                                @*<a class="btn btn-success" href="~/cnfProyecto/cnfClsProyectoElementoConfiguracion/cnfFrmProyectoElementoConfiguracionRelacionVista/@LobjRegistro.PECcodigo">Relación</a>*@
                                                                <a class="btn btn-primary" href="~/Uploads/@LobjRegistro.PEClocalizacion/@LobjRegistro.PECarchivo">Ver Archivo</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                catch
                                                {

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!--/porlets-content-->
                            </div><!--/block-web-->
                        </div><!--/col-md-12-->
                    </div><!--/row-->
                </div>
            </div>
        </div>
    </div>
</div>